<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:lang="${langCode}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/styles.css" th:href="@{/styles.css}"/>
    <title>Frags</title>
</head>
<body>
    <nav class="navbar" th:fragment="header">
        <div class="navcontent">
            <a href="benutzer">Benutzer</a>
            <div th:if="${info}">
                <p class="info" th:text="${info}"></p>
            </div>
            <div>
                <a th:href="@{?sprache=de}">DE</a>
                <a th:href="@{?sprache=en}">EN</a>
                <a th:href="@{?sprache=nl}">NL</a>
            </div>
        </div>
    </nav>

    <div class="footer" th:fragment="footer">
        <div class="footerContent">
            <a href="impressum">Impressum</a>
            <a href="kontakt">Kontakt</a>
        </div>
    </div>
</body>
</html>