<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${langCode}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/styles.css" th:href="@{/styles.css}"/>
    <title th:text="${tourNr}? #{tourformular.titel(${tourNr})} : #{tourformular.titel.neu}">Tour bearbeiten</title>
</head>

<body>
    <div th:replace="~{fragments/kopffuss :: header}"></div>
    <div class="container">
        <form th:action="@{#}" th:method="POST" th:object="${tourForm}">
            <h1 th:text="${tourNr}? #{tourformular.titel(${tourNr})} : #{tourformular.titel.neu}">Titel</h1>
            <div>
                <p th:text="#{tour.anbieter}"></p>
                <div class="select">
                    <select th:field="*{anbieter}">
                        <option value=0>---</option>
                        <option th:each="anb : ${benutzerListe}" th:value="${anb.id}" th:text="${anb.name}"></option>
                    </select>
                </div>
                <p class="errorMessage" th:if="${#fields.hasErrors('anbieter')}"
                    th:errors="*{anbieter}"></p>
            </div>
            <div>
                <p th:text="#{tour.abfahrdatetime}"></p>
                <input class="inputField" type="datetime-local" th:field="*{abfahrDateTime}" th:errorclass="inputError">
                <p class="errorMessage" th:if="${#fields.hasErrors('abfahrDateTime')}"
                    th:errors="*{abfahrDateTime}"></p>
            </div>
            <div>
                <p th:text="#{tour.preis}"></p>
                <input class="inputField" type="text" th:field="*{preis}" th:errorclass="inputError">
                <p class="errorMessage" th:if="${#fields.hasErrors('preis')}"
                    th:errors="*{preis}"></p>
            </div>
            <div>
                <p th:text="#{tour.plaetze}"></p>
                <input class="inputField" type="text" th:field="*{plaetze}" th:errorclass="inputError">
                <p class="errorMessage" th:if="${#fields.hasErrors('plaetze')}"
                th:errors="*{plaetze}"></p>
            </div>
            <div class="tourEditOrte">
                <div>
                    <p th:text="#{tour.startort}"></p>
                    <div class="select">
                        <select th:field="*{startOrt}">
                            <option th:each="ort : ${ortListe}" th:value="${ort.id}" th:text="${ort.name}"></option>
                        </select>
                    </div>
                    <p class="errorMessage" th:if="${#fields.hasErrors('startOrt')}"
                        th:errors="*{startOrt}"></p>
                </div>
                <div>
                    <p th:text="#{tour.zielort}"></p>
                    <div class="select">
                        <select th:field="*{zielOrt}">
                            <option th:each="ort : ${ortListe}" th:value="${ort.id}" th:text="${ort.name}"></option>
                        </select>
                    </div>
                    <p class="errorMessage" th:if="${#fields.hasErrors('zielOrt')}"
                        th:errors="*{zielOrt}"></p>

                </div>
            </div>
            <div>
                <p th:text="#{tour.fahrgastinfos}"></p>
                <textarea class="inputField" rows="4" th:field="*{info}" th:errorclass="inputError"></textarea>
                <p class="errorMessage" th:if="${#fields.hasErrors('info')}"
                    th:errors="*{info}"></p>
            </div>
            <input type="submit" value="ok">
        </form>
    </div>
    <div th:replace="~{fragments/kopffuss :: footer}"></div>

</body>
</html>