<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 th:text="${ueberschrift}">Titel</h1>
    <form th:action="@{#}" th:method="POST" th:object="${formular}">
        <p>Name</p>
        <input name="name" type="text" th:field="*{name}">
        <p>E-Mail</p>
        <input name="mail" type="email" th:field="*{mail}">
        <p>Passwort</p>
        <input name="passwort" type="text" th:field="*{password}">
        <p>Geburtstag</p>
        <input name="geburtstag" type="date" th:field="*{bday}">
        <div>
            <div id="mag">
                <h2>Mag</h2>
                <p th:text="${maxWunsch}"></p>
                <ul>
                    <li th:if="${#lists.size(formular.magListe)} lt 5"><input name="magListe" type="text"></li>
                    <th:block th:each="mag, status : ${#lists.sort(formular.magListe)}">
                        <li>
                            <p th:text="${mag.wort}">
                        </li>
                    </th:block>
                </ul>
            </div>
            <div id="mag_nicht">
                <h2>Mag nicht</h2>
                <p th:text="${maxWunsch}"></p>
                <ul name="magNichtListe">
                    <li th:if="${#lists.size(formular.magNichtListe)} lt 5"><input name="magNichtListe" type="text"></li>
                    <th:block th:each="magNicht, status : ${formular.magNichtListe}">
                        <li>
                            <p th:text="${magNicht.wort}">
                        </li>
                    </th:block>
                </ul>
            </div>
    
        </div>
        <input type="submit" value="ok">
    </form>
</body>

</html>