html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    background: #EDEDED;
}

.navbar, .footer {
    width: 100%;
    padding-right: 0.5em;
    position: fixed;
    background-color: lightgreen;
    border-style: groove;
    border-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer {
    height: 50px;
    bottom: 0px;
}
.navbar .navcontent, .footerContent {
    margin: 1.5em;
    width:70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navcontent a:link, a:visited, .footerContent a:link, a:visited {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.navcontent a:hover, .footerContent a:hover {
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #9d99999f;
    min-height: 100%;
    border-radius: 5px;
    padding-top: 10%;
    padding-left: 15em;
    padding-right: 15em;
}

.container form {
    width: 50%;
}

.container form select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.select {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    padding: 0.25em 0.5em;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}

.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #777;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

select,
.select::after {
    grid-area: select;
}

.containerliste{
    display: flex;
    flex-direction: column;
    background: #9d99999f;
    min-height: 100%;
    border-radius: 5px;
    padding-top: 10%;
    padding-left: 15em;
    padding-right: 15em;
    text-align: left;
    align-items: baseline;
}

.containerliste ul {
    width: 70%;
}

.containerliste ul li div {
    display: flex;
    justify-content: space-evenly;
}

.delUsr, .editUsr, .tourlistOrt {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    border-style: groove;
    
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.delUsr {
    background-color: rgb(255, 100, 100);
}

.delUsr:hover {
    background-color: rgb(255, 20, 20);
}

.editUsr, .tourlistOrt {
    background-color: white;
}

.editUsr:hover, .tourlistOrt:hover {
    background-color: lightgray;
}

.row {
    display: flex;
}

.column {
    flex: 1;
}

.button-container {
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}


input[type="submit"], .containerliste .newUsr, .containerliste .newOrt {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

input[type="submit"]:hover, .containerliste .newUsr:hover{
    background-color: #45a049;
}

.inputField {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 100%;
}

ul.custom-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


ul.custom-list li:first-child {
    border-top: none;
}
ul.custom-list li {
    border-top: 1px solid #ccc;
    padding: 8px;
}

input[type="text"]:hover {
    background-color: #EDEDED;
}

input[type="date"]:hover {
    background-color: #EDEDED;
}

input[type="email"]:hover {
    background-color: #EDEDED;
}

.errorMessage {
    color: red;
}

.inputError {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.info {
    color: red;
    border: red;
    border-radius: 5px;
    padding: 0.5em;
    border-left-style: solid;
    background-color: rgba(255, 0, 0, 0.3);
}

.listview{
    display: flex;        
    align-items: center;   
    justify-content: start;
    gap: 10px;  
}